body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #b1b3b4; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #ff7319;
}

p.descripcion {
    font-style: italic;
}

a.enlace:link, a.enlace:visited {
    text-decoration: none;
}

a.enlace:link:hover, a.enlace:visited:hover  {
    color: #ff7319;
    text-decoration : underline;
}

a.seleccion:link, a.seleccion:visited {
    color: #ff7319;
    font-weight : bold;
    text-decoration: none;
}

a.seleccion:link:hover, a.seleccion:visited:hover  {
    color: #ff7319;
    font-weight : bold;
    text-decoration : underline;
}

button.navDefault {
    background: #FFFFFF;
    border: none;
    color: #b1b3b4;
    font-weight : bold;
    font-size: 11px !important;
    text-decoration: none;
}

button.navActive {
    background: #FFFFFF;
    border: none;
    color: #ff7319;
    font-weight : bold;
    font-size: 11px !important;
    text-decoration: none;
}

/* styles for chrome and safari */
::-webkit-input-placeholder {
    color: #0052cc !important;
}
/*styles for firefox */
:-moz-placeholder {
    color: #0052cc !important;
}
/* styles for internet explorer */
.ui-watermark {
    color: #0052cc !important;
}

.team tr, .team td {
    border: none;
}

.ui-datatable-tablewrapper {
  overflow-x: auto;
}

.tabla-reporte-propuestas td,.tabla-reporte-propuestas span {
    font-size: 13px;
}